img.bg_img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: blur(7px);
}

div.form_container {
    position: absolute;
    top: 22%;
    bottom: 22%;
    left: 40%;
    right: 40%;
    height: auto;
}